
<%- include("header") -%>

<div class="header-part">
  <h1 class="heading">BLiSSLiFE</h1>
</div>
<div class="bottom-part">
  <a href="/users/register" class="btn-welcome btn btn-secondary btn-lg"">SignUp</a>
  <br>
  <a href="/users/login" class="btn-welcome btn btn-secondary btn-lg">Login</a>
</div>

<%- include("footer") -%>
